<%- include('./header') %>


<body>
    <div class="index-container">
            <div class="setup-item">
                <form action="/setup" method="post">
                    <input type="text" name="team1" id="team1" placeholder="Team 1" autocomplete="off">
                    <input type="text" name="team2" id="team2" placeholder="Team 2" autocomplete="off">
                    <button type="submit" class="item-center">SUBMIT</button>
                </form>
            </div>
    </div>
</body>
</html>